In [24]:
import os
from datetime import datetime, timedelta
from pykrx import stock
import pandas as pd
       
df = stock.get_market_ohlcv(datetime.today() - timedelta(days=30), datetime.today(), '005930')
df.head()

               시가     고가     저가     종가       거래량           거래대금   등락률
날짜
2023-01-09  59700  60700  59600  60700  18640107  1124606672500  2.88
2023-01-10  60200  61100  59900  60400  14859797   898812198128 -0.49
2023-01-11  61000  61200  60300  60500  12310751   747215374304  0.17
2023-01-12  61100  61200  59900  60500  16102561   972246984400  0.00
2023-01-13  60500  61200  60400  60800  12510328   761169640700  0.50

In [34]:
from pandas_datareader import data as pdr
import yfinance as yfin
yfin.pdr_override()
from   sklearn.preprocessing import MinMaxScaler

def get_world_index(ticker, start_day, end_day):
    '''
    세계 주요 주가 지수의 일별 OHCLV(Open, High, Close, Low, Volume) 데이터를 담은 DataFrame을 반환한다.
    '''
    return pdr.get_data_yahoo(ticker, start_day, end_day)

def get_normalization(df_ts):
    """
    데이터를 MinMaxScaler로 정규화한 결과를 반환한다.
    """
    return MinMaxScaler().fit_transform(df_ts)

# 날짜
now = datetime.today()
end_day = datetime(now.year, now.month, now.day)
start_day = end_day - timedelta(days = 365)

# Tickers of World Indexes
WORLD_INDEX_TICKERS = [ {'ticker':'^GSPC',     'nation':'US',          'name':'S&P 500'},
                        {'ticker':'^IXIC',     'nation':'US',          'name':'NASDAQ Composite'},
                        {'ticker':'^N225',     'nation':'Japan',       'name':'Nikkei 225'},
                        {'ticker':'399001.SZ', 'nation':'China',       'name':'Shenzhen Index'},
                        {'ticker':'^KS11',     'nation':'Korea',       'name':'KOSPI Composite Index'},
]
for index in WORLD_INDEX_TICKERS:
    index_df    = get_world_index(index['ticker'], start_day, end_day)[['Close']][::30]
    index_df[:] = get_normalization(index_df)
    print(index['ticker'])
    print(index_df)
index_df

[*********************100%***********************]  1 of 1 completed
^GSPC
                              Close
Date
2022-02-08 00:00:00-05:00  1.000000
2022-03-23 00:00:00-04:00  0.922877
2022-05-05 00:00:00-04:00  0.557494
2022-06-17 00:00:00-04:00  0.000000
2022-08-02 00:00:00-04:00  0.491732
2022-09-14 00:00:00-04:00  0.320267
2022-10-26 00:00:00-04:00  0.183961
2022-12-08 00:00:00-05:00  0.340935
2023-01-24 00:00:00-05:00  0.404051
[*********************100%***********************]  1 of 1 completed
^IXIC
                              Close
Date
2022-02-08 00:00:00-05:00  1.000000
2022-03-23 00:00:00-04:00  0.919952
2022-05-05 00:00:00-04:00  0.447378
2022-06-17 00:00:00-04:00  0.000000
2022-08-02 00:00:00-04:00  0.456527
2022-09-14 00:00:00-04:00  0.271291
2022-10-26 00:00:00-04:00  0.050835
2022-12-08 00:00:00-05:00  0.083522
2023-01-24 00:00:00-05:00  0.157804
[*********************100%***********************]  1 of 1 completed
^N225
                              Close
Date
2022-02-08 00:00:00+09:00  0.632759
2022-03-25 00:00:00+09:00  0.989276
2022-05-12 00:00:00+09:00  0.000000
2022-06-23 00:00:00+09:00  0.174085
2022-08-05 00:00:00+09:00  1.000000
2022-09-20 00:00:00+09:00  0.799168
2022-11-04 00:00:00+09:00  0.597829
2022-12-19 00:00:00+09:00  0.613444
2023-02-02 00:00:00+09:00  0.681182
[*********************100%***********************]  1 of 1 completed
399001.SZ
                              Close
Date
2022-02-08 00:00:00+08:00  1.000000
2022-03-22 00:00:00+08:00  0.594975
2022-05-10 00:00:00+08:00  0.029244
2022-06-22 00:00:00+08:00  0.565912
2022-08-03 00:00:00+08:00  0.459573
2022-09-15 00:00:00+08:00  0.276380
2022-11-03 00:00:00+08:00  0.000000
2022-12-15 00:00:00+08:00  0.208442
2023-02-03 00:00:00+08:00  0.488559
[*********************100%***********************]  1 of 1 completed
^KS11
                              Close
Date
2022-02-08 00:00:00+09:00  1.000000
2022-03-24 00:00:00+09:00  0.958960
2022-05-06 00:00:00+09:00  0.751074
2022-06-22 00:00:00+09:00  0.014502
2022-08-03 00:00:00+09:00  0.304150
2022-09-19 00:00:00+09:00  0.045874
2022-11-02 00:00:00+09:00  0.000000
2022-12-14 00:00:00+09:00  0.152295
2023-01-30 00:00:00+09:00  0.277343

                              Close
Date
2022-02-08 00:00:00+09:00  1.000000
2022-03-24 00:00:00+09:00  0.958960
2022-05-06 00:00:00+09:00  0.751074
2022-06-22 00:00:00+09:00  0.014502
2022-08-03 00:00:00+09:00  0.304150
2022-09-19 00:00:00+09:00  0.045874
2022-11-02 00:00:00+09:00  0.000000
2022-12-14 00:00:00+09:00  0.152295
2023-01-30 00:00:00+09:00  0.277343